h1{
    color: brown;
    font-family: 'Times New Roman';
    text-decoration:underline;
    text-align: left;
}
body{
    background-image:url("https://dz2cdn1.dzone.com/storage/temp/10397841-wallp-js.png");
    background-size: cover;
    height: 50vh; 
}